* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: white;
    color: black;
}

header {
	color:yellow;
    background: black;
    padding: 15px 40px;
}

nav {
	color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    color: yellow;
}

nav a {
	color: yellow;
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}

nav a:hover {
    color: black;
}

.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.section p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.project-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}



form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

button {
    width: 120px;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: yellow;
    margin-top: 40px;
}